name: Build and Push Docker Image (GHCR)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Compute image name (lowercase)
        id: meta
        run: |
          REPO_LC="$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')"
          echo "IMAGE_NAME=ghcr.io/${REPO_LC}/minha-api" >> $GITHUB_ENV
          echo "Using IMAGE_NAME=ghcr.io/${REPO_LC}/minha-api"

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build
        run: |
          echo "IMAGE_NAME is: $IMAGE_NAME"
          docker build -t "$IMAGE_NAME:${{ github.sha }}" -t "$IMAGE_NAME:latest" .

      - name: Push
        run: |
          docker push "$IMAGE_NAME:${{ github.sha }}"
          docker push "$IMAGE_NAME:latest"